.Animals {
  // background-color: transparent;
  margin: 0;
  padding: 0;
}

.animal-img {
  max-width: 90%;
  max-height: 200px;
  border-radius: 5%;
}

.animal-card {
  border: 5px solid coral;
  background-color: burlywood;
  padding: 10px;
  height: 425px;
  width: 30%;
  margin: 1%;
}